body {
    color: white;
    background-color: #292734;
    padding: 5vw 5vw;
    font-family: 'Lato', sans-serif;
}

.header-item {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;

    &--large {
        font-size: calc(2em + 5vw);
    }

    &--align_right {
        text-align: right;
    }

    &--no-margin {
        margin: 0;
    }

    &--darker {
        color: #4e4e4e;
        font-size: calc(1em + 2vw);
    }
}

.about {
    max-width: 50vw;
}

.grey-bg {
    padding-top: 1em;
    background-color: #282634;
}

.posts-container {
    background-color: white;
    margin: 0 -5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.post-item {
    padding: 1em;
    background-color: white;
    transition: all .2s ease-out;
    
    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    }

    &__title {
        color: darkslategrey;
        margin: 0;
        padding: 0;
    }

    &__summary {
        color: black;
    }

    &__read-more {
        text-decoration: none;
        background-color: #292734;
        float: right;
        color: white;
        padding: .5em;

        &:hover {
            background-color: darken($color: #292734, $amount: 10);
        }
    }
}
