body {
    color: white;
    background-color: #292734;
    padding: 5vw 5vw;
    font-family: 'Lato', sans-serif;
}

.header-item {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;

    &--large {
        font-size: calc(2em + 5vw);
    }

    &--align_right {
        text-align: right;
    }

    &--no-margin {
        margin: 0;
    }

    &--darker {
        color: #4e4e4e;
        font-size: calc(1em + 2vw);
    }
}

.about {
    max-width: 50vw;
}

.grey-bg {
    padding-top: 1em;
    background-color: #282634;
}

.posts-container {
    background-color: #041C48;
    margin: 0 -5vw;
    padding: 2vw 4vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.post-item {
    min-width:0; //firefox fix
    padding: 2vw;
    margin:-1vw;
    background-color: #041C48;
    transition: all .2s ease-out;
    transform: rotate3d(0, 0, 1, -4deg);

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
        z-index: 99;
    }

    &__title {
        color: #fbf8fd;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__summary {
        color: #fbf8fd;
        position: relative;
        height: 15em;
        overflow: hidden;

        // &::after {
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     background: linear-gradient(transparent 0, white);
        // }
    }

    &__read-more {
        text-decoration: none;
        background-color: #292734;
        float: right;
        color: white;
        padding: .5em;

        &:hover {
            background-color: darken($color: #292734, $amount: 10);
        }
    }
}
